@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #5b57fc;
  --clr-secondary: #6bb5ff;
  --clr-tertiary: #00a1e8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
  margin-bottom: auto;
}

footer {
  align-items: center;
}

.bar {
  /* 10px approx */
  width: 0.618rem;
  width: clamp(2px, 1vw + 2px, 5px);
  /* height: 10vh; */
  /* content: ""; */
  padding: 0;
  background-color: var(--clr-secondary);
  border-radius: 2px;
  margin-inline: 2px;
}
